# Shortcuts
alias de="cd ~/Development/"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

# IP addresses
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Aliases to control Redis
# Paths noted below are for Redis installed via Homebrew on OSX
alias startredis="redis-server /usr/local/etc/redis.conf"
alias stopredis="redis-cli shutdown"
