# Prefer CN Chinese and use UTF-8.
export LANG='zh_CN.UTF-8';
export LC_ALL='zh_CN.UTF-8';

# Make vim the default editor.
export EDITOR='vim';

# Development working directory
export DEVPATH=~/Workspaces

# Setting up Go development environment
export GOROOT=$(brew --prefix go)/libexec
export PATH=$PATH:$GOROOT/bin
export GOPATH=$DEVPATH/golang;
export GOBIN=$GOPATH/bin;

# NVM's working directory
export NVM_DIR=~/.nvm
# Use taobao mirror
export NVM_NODEJS_ORG_MIRROR=http://npm.taobao.org/mirrors/node

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';
