# Prefer CN Chinese and use UTF-8.
export LANG='zh_CN.UTF-8';
export LC_ALL='zh_CN.UTF-8';

# Make vim the default editor.
export EDITOR='vim';

# Development working directory
export DEVPATH=~/Workspaces

# Setting up Gnu tools
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/findutils/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/moreutils/libexec/bin:$PATH"
export PATH="/opt/homebrew/opt/gawk/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/gnu-indent/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/gnu-which/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/gnu-sed/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/gnu-tar/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/grep/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/diffutils/bin:$PATH"
export PATH="/opt/homebrew/opt/binutils/bin:$PATH"
export PATH="/opt/homebrew/opt/gnutls/bin:$PATH"
export PATH="/opt/homebrew/opt/unzip/bin:$PATH"
export PATH="/opt/homebrew/opt/ed/bin:$PATH"

# Setting up Go development environment
export GOROOT=$(brew --prefix go)/libexec
export PATH=$PATH:$GOROOT/bin
export GOPATH=$DEVPATH/golang;
export PATH=$PATH:$GOPATH/bin;
export GOPROXY=https://goproxy.cn

# Add uv to the PATH
export PATH=$PATH:~/.local/bin

# NVM's working directory
export NVM_DIR=~/.nvm

# Use taobao mirror
export NVM_NODEJS_ORG_MIRROR=https://mirrors.ustc.edu.cn/node

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;

# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';
