[user]
    name = Denny
    email = idennydeng@gmail.com

[alias]
    lg = log
    df = diff
    st = status
    br = branch
    ci = commit
    co = checkout
    sm = submodule

[color]
    ui = auto

[push]
    default = simple
